@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pacifico', cursive;
}

.header {
  color: whitesmoke;
  display: flex;
  gap: 2em;
  justify-content: center;
  background-color: #5edcee;
  padding-top: 1.5em;
}

.main {
  display: flex;
  background-color: #5edcee;
  padding-bottom: 4.85em;
}
.settings {
  display: flex;
  flex-direction: column;
  gap: 1.7em;
  background-color: #26c5fd;
  padding: 3em;
  border-radius: 3em;
  margin: 3em;
  margin-left: 15em;
  border: 2px solid whitesmoke;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#colorPicker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  margin-left: 4.8em;
  position: relative;
}

#colorPicker::-webkit-color-swatch {
  border-radius: 50%;

  border: 2px solid whitesmoke;
}

#colorPicker::-moz-color-swatch {
  border-radius: 50%;
  border: none;
}

#colorPicker:hover {
  transform: scale(1.07);
  transition: 0.1s;
}
#sizeSlider {
  width: 16em;
  height: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#sizeValue {
  font-size: 20px;
  margin-left: 3.8em;
}

.settings button {
  width: 13em;
  height: 3em;
  border-radius: 1em;
  color: black;
  background-color: whitesmoke;
  font-size: 17px;
  cursor: pointer;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#colorBtn.active,
#rainbowBtn.active,
#eraserBtn.active {
  width: 13em;
  height: 3em;
  border-radius: 1em;
  color: whitesmoke;
  background-color: #5edcee;
  font-size: 17px;
  cursor: pointer;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.1s;
}

.settings button:hover {
  transform: scale(1.07);
  transition: 0.1s;
}
.grid {
  display: grid;
  margin: auto;
  margin-right: 42rem;
  right: 100em;
  outline: none;
  font-size: 0;
  height: 600px;
  width: 600px;
  border: none;
  background-color: whitesmoke;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.square {
  margin: 0;
  padding: 0;
  border: none;
  outline: 1px solid grey;
  display: inline-block;
}

.title {
  font-size: 3em;
}

.footer {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  font-size: 1.5em;
  color: whitesmoke;
  background-color: #5edcee;
  margin-bottom: 0px;
  padding-bottom: 0.3em;
  padding-right: 80px;
}
